In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:\\Users\\subha\\OneDrive\\Documents\\Agricultural Commodity Price dataset.xlsx")

In [3]:
df

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Madhya Pradesh,Harda,Sirali APMC,Maize,Local,FAQ,2025-12-16,1599.0,1599.0,1599.0
1,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Mustard,Other,Local,2025-12-16,6000.0,6100.0,6050.0
2,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Bajra(Pearl Millet/Cumbu),Other,Local,2025-12-16,2000.0,2100.0,2050.0
3,Gujarat,Banaskanth,Vadgam APMC,Rajgir,Other,FAQ,2025-12-16,4255.0,7155.0,7155.0
4,Gujarat,Banaskanth,Vadgam APMC,Guar Seed(Cluster Beans Seed),Other,FAQ,2025-12-16,4450.0,4620.0,4585.0
...,...,...,...,...,...,...,...,...,...,...
8286,Himachal Pradesh,Kangra,SMY Jwalaji,Onion,Other,FAQ,2025-12-16,2800.0,3000.0,2900.0
8287,West Bengal,Uttar Dinajpur,Raiganj APMC,Onion,Other,FAQ,2025-12-16,2300.0,2500.0,2400.0
8288,Rajasthan,Jaipur,Rajdhanai Mandi (KukarKheda) APMC,Bajra(Pearl Millet/Cumbu),Bold,Grade Range-2,2025-12-16,2200.0,2200.0,2200.0
8289,Kerala,Thiruvananthapuram,Kallara VFPCK APMC,Banana,Nendra Bale,Grade A,2025-12-16,4500.0,4700.0,4600.0
8290,Nagaland,Mon,Mon APMC,Papaya(Raw),Other,Local,2025-12-16,1800.0,2100.0,1900.0

In [4]:
df.head(10)

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Madhya Pradesh,Harda,Sirali APMC,Maize,Local,FAQ,2025-12-16,1599.0,1599.0,1599.0
1,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Mustard,Other,Local,2025-12-16,6000.0,6100.0,6050.0
2,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Bajra(Pearl Millet/Cumbu),Other,Local,2025-12-16,2000.0,2100.0,2050.0
3,Gujarat,Banaskanth,Vadgam APMC,Rajgir,Other,FAQ,2025-12-16,4255.0,7155.0,7155.0
4,Gujarat,Banaskanth,Vadgam APMC,Guar Seed(Cluster Beans Seed),Other,FAQ,2025-12-16,4450.0,4620.0,4585.0
5,Rajasthan,Ajmer,Madanganj Kishangarh APMC,Jowar(Sorghum),Other,Local,2025-12-16,1500.0,4100.0,2741.0
6,Rajasthan,Ajmer,Madanganj Kishangarh APMC,Guar Seed(Cluster Beans Seed),Other,Local,2025-12-16,2801.0,4500.0,4500.0
7,Rajasthan,Ajmer,Madanganj Kishangarh APMC,Cummin Seed(Jeera),Other,Local,2025-12-16,1900.0,20350.0,18900.0
8,Rajasthan,Ajmer,Madanganj Kishangarh APMC,Isabgul(Psyllium),Isabgul (Psyllium),Local,2025-12-16,8401.0,10800.0,10800.0
9,Rajasthan,Alwar,Kherli APMC,Wheat,Other,Non-FAQ,2025-12-16,2450.0,2525.0,2490.0

In [5]:
df.tail(10)

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
8281,Kerala,Kozhikode(Calicut),Mukkom APMC,Cowpea(Veg),Cowpea (Veg),FAQ,2025-12-16,5700.0,6200.0,6000.0
8282,Kerala,Kozhikode(Calicut),Mukkom APMC,Pumpkin,Pumpkin,FAQ,2025-12-16,2300.0,2500.0,2400.0
8283,Kerala,Kozhikode(Calicut),Perambra APMC,Ashgourd,Other,FAQ,2025-12-16,2500.0,2500.0,2500.0
8284,Kerala,Kozhikode(Calicut),Perambra APMC,Capsicum,Capsicum,FAQ,2025-12-16,6000.0,7000.0,6500.0
8285,West Bengal,Murshidabad,Jiaganj APMC,Wheat,Sonalika,FAQ,2025-12-16,2600.0,2700.0,2650.0
8286,Himachal Pradesh,Kangra,SMY Jwalaji,Onion,Other,FAQ,2025-12-16,2800.0,3000.0,2900.0
8287,West Bengal,Uttar Dinajpur,Raiganj APMC,Onion,Other,FAQ,2025-12-16,2300.0,2500.0,2400.0
8288,Rajasthan,Jaipur,Rajdhanai Mandi (KukarKheda) APMC,Bajra(Pearl Millet/Cumbu),Bold,Grade Range-2,2025-12-16,2200.0,2200.0,2200.0
8289,Kerala,Thiruvananthapuram,Kallara VFPCK APMC,Banana,Nendra Bale,Grade A,2025-12-16,4500.0,4700.0,4600.0
8290,Nagaland,Mon,Mon APMC,Papaya(Raw),Other,Local,2025-12-16,1800.0,2100.0,1900.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8291 entries, 0 to 8290
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              8291 non-null   object
 1   District           8291 non-null   object
 2   Market             8291 non-null   object
 3   Commodity          8291 non-null   object
 4   Variety            8291 non-null   object
 5   Grade              8291 non-null   object
 6   Arrival_Date       8291 non-null   datetime64[ns]
 7   Min_x0020_Price    8291 non-null   float64
 8   Max_x0020_Price    8291 non-null   float64
 9   Modal_x0020_Price  8291 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 647.9+ KB

In [7]:
df.describe()

,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
count,8291,8291.000000,8291.000000,8291.000000
mean,2025-12-16 00:00:00,4453.966993,5071.912421,4770.306924
min,2025-12-16 00:00:00,0.050000,0.150000,0.100000
25%,2025-12-16 00:00:00,2400.000000,2650.000000,2500.000000
50%,2025-12-16 00:00:00,3500.000000,4000.000000,3750.000000
75%,2025-12-16 00:00:00,5495.000000,6000.000000,5750.000000
max,2025-12-16 00:00:00,215000.000000,217000.000000,216000.000000
std,NaN,6043.423169,6431.521608,6215.038178

In [8]:
df.describe(include = "all")

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
count,8291,8291,8291,8291,8291,8291,8291,8291.000000,8291.000000,8291.000000
unique,27,287,648,193,295,13,NaN,NaN,NaN,NaN
top,Tamil Nadu,Salem,Hosur(Uzhavar Sandhai ) APMC,Onion,Other,Local,NaN,NaN,NaN,NaN
freq,4301,493,67,283,1276,5212,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-16 00:00:00,4453.966993,5071.912421,4770.306924
min,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-16 00:00:00,0.050000,0.150000,0.100000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-16 00:00:00,2400.000000,2650.000000,2500.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-16 00:00:00,3500.000000,4000.000000,3750.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-16 00:00:00,5495.000000,6000.000000,5750.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-16 00:00:00,215000.000000,217000.000000,216000.000000
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6043.423169,6431.521608,6215.038178

In [9]:
df.shape

(8291, 10)

In [10]:
df.columns

Index(['State', 'District', 'Market', 'Commodity', 'Variety', 'Grade',
       'Arrival_Date', 'Min_x0020_Price', 'Max_x0020_Price',
       'Modal_x0020_Price'],
      dtype='object')

In [11]:
df.columns = df.columns.str.replace("_x0020_","_").str.strip().str.lower()

In [12]:
df.columns

Index(['state', 'district', 'market', 'commodity', 'variety', 'grade',
       'arrival_date', 'min_price', 'max_price', 'modal_price'],
      dtype='object')

In [13]:
df["arrival_date"] = pd.to_datetime(df["arrival_date"],errors = "coerce")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8291 entries, 0 to 8290
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         8291 non-null   object
 1   district      8291 non-null   object
 2   market        8291 non-null   object
 3   commodity     8291 non-null   object
 4   variety       8291 non-null   object
 5   grade         8291 non-null   object
 6   arrival_date  8291 non-null   datetime64[ns]
 7   min_price     8291 non-null   float64
 8   max_price     8291 non-null   float64
 9   modal_price   8291 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 647.9+ KB

In [15]:
df["arrival_date"].isnull().sum()

0

In [16]:
price_col = ["min_price", "max_price", "modal_price"]
for col in price_col:
    df[col] = pd.to_numeric(df[col],errors = "coerce")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8291 entries, 0 to 8290
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         8291 non-null   object
 1   district      8291 non-null   object
 2   market        8291 non-null   object
 3   commodity     8291 non-null   object
 4   variety       8291 non-null   object
 5   grade         8291 non-null   object
 6   arrival_date  8291 non-null   datetime64[ns]
 7   min_price     8291 non-null   float64
 8   max_price     8291 non-null   float64
 9   modal_price   8291 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 647.9+ KB

In [18]:
df.isnull()

,state,district,market,commodity,variety,grade,arrival_date,min_price,max_price,modal_price
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8286,False,False,False,False,False,False,False,False,False,False
8287,False,False,False,False,False,False,False,False,False,False
8288,False,False,False,False,False,False,False,False,False,False
8289,False,False,False,False,False,False,False,False,False,False
8290,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isnull().sum()

state           0
district        0
market          0
commodity       0
variety         0
grade           0
arrival_date    0
min_price       0
max_price       0
modal_price     0
dtype: int64

In [20]:
df = df[df["min_price"] <= df["modal_price"]]
df = df[df["modal_price"] <= df["max_price"]]

In [21]:
df["price_range"] = df["max_price"] - df["min_price"]

In [22]:
df

,state,district,market,commodity,variety,grade,arrival_date,min_price,max_price,modal_price,price_range
0,Madhya Pradesh,Harda,Sirali APMC,Maize,Local,FAQ,2025-12-16,1599.0,1599.0,1599.0,0.0
1,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Mustard,Other,Local,2025-12-16,6000.0,6100.0,6050.0,100.0
2,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Bajra(Pearl Millet/Cumbu),Other,Local,2025-12-16,2000.0,2100.0,2050.0,100.0
3,Gujarat,Banaskanth,Vadgam APMC,Rajgir,Other,FAQ,2025-12-16,4255.0,7155.0,7155.0,2900.0
4,Gujarat,Banaskanth,Vadgam APMC,Guar Seed(Cluster Beans Seed),Other,FAQ,2025-12-16,4450.0,4620.0,4585.0,170.0
...,...,...,...,...,...,...,...,...,...,...,...
8286,Himachal Pradesh,Kangra,SMY Jwalaji,Onion,Other,FAQ,2025-12-16,2800.0,3000.0,2900.0,200.0
8287,West Bengal,Uttar Dinajpur,Raiganj APMC,Onion,Other,FAQ,2025-12-16,2300.0,2500.0,2400.0,200.0
8288,Rajasthan,Jaipur,Rajdhanai Mandi (KukarKheda) APMC,Bajra(Pearl Millet/Cumbu),Bold,Grade Range-2,2025-12-16,2200.0,2200.0,2200.0,0.0
8289,Kerala,Thiruvananthapuram,Kallara VFPCK APMC,Banana,Nendra Bale,Grade A,2025-12-16,4500.0,4700.0,4600.0,200.0
8290,Nagaland,Mon,Mon APMC,Papaya(Raw),Other,Local,2025-12-16,1800.0,2100.0,1900.0,300.0

In [23]:
df.isnull().sum()

state           0
district        0
market          0
commodity       0
variety         0
grade           0
arrival_date    0
min_price       0
max_price       0
modal_price     0
price_range     0
dtype: int64

In [24]:
df["avg_price"] = (df["max_price"] - df["min_price"]) / 2

In [25]:
df.columns

Index(['state', 'district', 'market', 'commodity', 'variety', 'grade',
       'arrival_date', 'min_price', 'max_price', 'modal_price', 'price_range',
       'avg_price'],
      dtype='object')

In [26]:
df.sample(20)

,state,district,market,commodity,variety,grade,arrival_date,min_price,max_price,modal_price,price_range,avg_price
2778,Tamil Nadu,Chengalpattu,Guduvancheri(Uzhavar Sandhai ) APMC,Onion,Bellary,Local,2025-12-16,3000.0,3500.0,3250.0,500.0,250.0
1073,Tamil Nadu,Thiruvannamalai,Chengam(Uzhavar Sandhai ) APMC,Brinjal,Round,Local,2025-12-16,2500.0,3000.0,2750.0,500.0,250.0
6361,Chattisgarh,Jashpur,Pathalgaon APMC,Paddy(Common),1001,Non-FAQ,2025-12-16,2369.0,2369.0,2369.0,0.0,0.0
7647,Tamil Nadu,Theni,Devaram(Uzhavar Sandhai ) APMC,Ashgourd,Gouard,Local,2025-12-16,2400.0,2400.0,2400.0,0.0,0.0
5945,Tamil Nadu,Thirunelveli,Melapalayam(Uzhavar Sandhai ) APMC,Cauliflower,Ranchi,Local,2025-12-16,5500.0,6000.0,5750.0,500.0,250.0
1461,Tamil Nadu,Virudhunagar,Srivilliputhur(Uzhavar Sandhai ) APMC,Elephant Yam(Suran)/Amorphophallus,Elephant Yam (Suran),Local,2025-12-16,5500.0,6000.0,5750.0,500.0,250.0
3896,Tamil Nadu,Coimbatore,Kurichi(Uzhavar Sandhai ) APMC,Lemon,Lemon,Local,2025-12-16,5500.0,6500.0,6000.0,1000.0,500.0
1420,Madhya Pradesh,Sheopur,Vijaypur APMC,Wheat,Mill Quality,Non-FAQ,2025-12-16,2405.0,2410.0,2410.0,5.0,2.5
4524,Karnataka,Bangalore,"Binny Mill (F&V), Bangalore APMC",Banana - Green,Banana - Green,Local,2025-12-16,2000.0,2300.0,2100.0,300.0,150.0
6237,Karnataka,Bangalore,Ramanagara APMC,Brinjal,Brinjal,Local,2025-12-16,2000.0,3200.0,2800.0,1200.0,600.0
31,Gujarat,Surat,Surat APMC,Sponge gourd,Other,FAQ,2025-12-16,2000.0,4000.0,3000.0,2000.0,1000.0
1178,Tamil Nadu,Chengalpattu,Thirukalukundram(Uzhavar Sandhai ) APMC,Green Avare(W),Avare (W),Local,2025-12-16,8000.0,8000.0,8000.0,0.0,0.0
1093,Tamil Nadu,Thiruchirappalli,Lalgudi(Uzhavar Sandhai ) APMC,Indian Beans(Seam),Indian Beans (Seam),Local,2025-12-16,8600.0,8600.0,8600.0,0.0,0.0
2407,Tamil Nadu,Namakkal,Kumarapalayam(Uzhavar Sandhai ) APMC,Onion,Bellary,Local,2025-12-16,2500.0,3000.0,2750.0,500.0,250.0
2957,Maharashtra,Jalgaon,Bhusaval APMC,Spinach,Other,Local,2025-12-16,1000.0,1500.0,1500.0,500.0,250.0
4173,Tamil Nadu,Salem,Mettur(Uzhavar Sandhai ) APMC,Rose(Local),Rose (Local),Local,2025-12-16,14000.0,16000.0,15000.0,2000.0,1000.0
6455,Uttar Pradesh,Barabanki,Barabanki APMC,Raddish,Raddish,FAQ,2025-12-16,1140.0,1140.0,1140.0,0.0,0.0
4031,Tamil Nadu,Madurai,Palanganatham(Uzhavar Sandhai ) APMC,Mousambi(Sweet Lime),Mousambi,Local,2025-12-16,6000.0,7000.0,6500.0,1000.0,500.0
7358,Tamil Nadu,Madurai,Anna nagar(Uzhavar Sandhai ) APMC,Colacasia,Colacasia,Local,2025-12-16,5500.0,5500.0,5500.0,0.0,0.0
4540,Madhya Pradesh,Satna,Satna APMC,Mustard,Mustard,FAQ,2025-12-16,6350.0,6475.0,6475.0,125.0,62.5

In [27]:
state_price_summary = df.groupby("state").agg(avg_modal_price = ("modal_price","mean"),
                                              max_modal_price = ("modal_price","max"),
                                              min_modal_price = ("modal_price","min")).reset_index()
state_price_summary

                state  avg_modal_price  max_modal_price  min_modal_price
0      Andhra Pradesh      3161.526316         11000.00           900.00
1               Assam      4200.000000          4200.00          4200.00
2               Bihar      3937.500000         11500.00          1300.00
3          Chandigarh      2270.588235          6000.00           500.00
4         Chattisgarh      2219.117647          3800.00          1100.00
5                 Goa         8.440000            13.00             3.88
6             Gujarat      4274.903905         19125.00           825.00
7             Haryana      2926.147826         20000.00           250.00
8    Himachal Pradesh      4002.208202         20000.00           400.00
9   Jammu and Kashmir      4489.316410         12500.00           750.00
10          Karnataka      4213.661111         54879.00           500.00
11             Kerala      6204.382968        216000.00             0.28
12     Madhya Pradesh      3426.731502         10700.00           166.00
13        Maharashtra      3632.879781         40000.00             3.00
14          Meghalaya      6411.111111         19000.00          1500.00
15       NCT of Delhi       141.029412          1300.00             0.10
16           Nagaland      2429.750000          5000.00            19.00
17             Odisha      4529.435484         24000.00           750.00
18        Pondicherry      9748.750000          9748.75          9748.75
19             Punjab      4316.642202        140000.00             5.00
20          Rajasthan      3832.160000         18900.00           500.00
21         Tamil Nadu      5476.904557        185000.00          1000.00
22          Telangana      3761.828936         16000.00             0.48
23            Tripura      5815.384615         15500.00          1700.00
24      Uttar Pradesh      2559.133224         15200.00            18.00
25        Uttarakhand      2033.465649          7500.00           250.00
26        West Bengal      3938.750000         20000.00           750.00

In [28]:
validity_threshold = df["price_range"].median()

df["validity_level"] = np.where(df["price_range"] > validity_threshold, "High","Low")
df

,state,district,market,commodity,variety,grade,arrival_date,min_price,max_price,modal_price,price_range,avg_price,validity_level
0,Madhya Pradesh,Harda,Sirali APMC,Maize,Local,FAQ,2025-12-16,1599.0,1599.0,1599.0,0.0,0.0,Low
1,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Mustard,Other,Local,2025-12-16,6000.0,6100.0,6050.0,100.0,50.0,Low
2,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Bajra(Pearl Millet/Cumbu),Other,Local,2025-12-16,2000.0,2100.0,2050.0,100.0,50.0,Low
3,Gujarat,Banaskanth,Vadgam APMC,Rajgir,Other,FAQ,2025-12-16,4255.0,7155.0,7155.0,2900.0,1450.0,High
4,Gujarat,Banaskanth,Vadgam APMC,Guar Seed(Cluster Beans Seed),Other,FAQ,2025-12-16,4450.0,4620.0,4585.0,170.0,85.0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8286,Himachal Pradesh,Kangra,SMY Jwalaji,Onion,Other,FAQ,2025-12-16,2800.0,3000.0,2900.0,200.0,100.0,Low
8287,West Bengal,Uttar Dinajpur,Raiganj APMC,Onion,Other,FAQ,2025-12-16,2300.0,2500.0,2400.0,200.0,100.0,Low
8288,Rajasthan,Jaipur,Rajdhanai Mandi (KukarKheda) APMC,Bajra(Pearl Millet/Cumbu),Bold,Grade Range-2,2025-12-16,2200.0,2200.0,2200.0,0.0,0.0,Low
8289,Kerala,Thiruvananthapuram,Kallara VFPCK APMC,Banana,Nendra Bale,Grade A,2025-12-16,4500.0,4700.0,4600.0,200.0,100.0,Low
8290,Nagaland,Mon,Mon APMC,Papaya(Raw),Other,Local,2025-12-16,1800.0,2100.0,1900.0,300.0,150.0,Low

In [29]:
df["market_price_rank"] = df.groupby(["commodity","state"])["modal_price"].rank(ascending = False)
df

,state,district,market,commodity,variety,grade,arrival_date,min_price,max_price,modal_price,price_range,avg_price,validity_level,market_price_rank
0,Madhya Pradesh,Harda,Sirali APMC,Maize,Local,FAQ,2025-12-16,1599.0,1599.0,1599.0,0.0,0.0,Low,46.0
1,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Mustard,Other,Local,2025-12-16,6000.0,6100.0,6050.0,100.0,50.0,Low,5.0
2,Rajasthan,Jodhpur Rural,Osiyan Mathania APMC,Bajra(Pearl Millet/Cumbu),Other,Local,2025-12-16,2000.0,2100.0,2050.0,100.0,50.0,Low,5.0
3,Gujarat,Banaskanth,Vadgam APMC,Rajgir,Other,FAQ,2025-12-16,4255.0,7155.0,7155.0,2900.0,1450.0,High,2.0
4,Gujarat,Banaskanth,Vadgam APMC,Guar Seed(Cluster Beans Seed),Other,FAQ,2025-12-16,4450.0,4620.0,4585.0,170.0,85.0,Low,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8286,Himachal Pradesh,Kangra,SMY Jwalaji,Onion,Other,FAQ,2025-12-16,2800.0,3000.0,2900.0,200.0,100.0,Low,3.5
8287,West Bengal,Uttar Dinajpur,Raiganj APMC,Onion,Other,FAQ,2025-12-16,2300.0,2500.0,2400.0,200.0,100.0,Low,3.0
8288,Rajasthan,Jaipur,Rajdhanai Mandi (KukarKheda) APMC,Bajra(Pearl Millet/Cumbu),Bold,Grade Range-2,2025-12-16,2200.0,2200.0,2200.0,0.0,0.0,Low,3.0
8289,Kerala,Thiruvananthapuram,Kallara VFPCK APMC,Banana,Nendra Bale,Grade A,2025-12-16,4500.0,4700.0,4600.0,200.0,100.0,Low,6.5
8290,Nagaland,Mon,Mon APMC,Papaya(Raw),Other,Local,2025-12-16,1800.0,2100.0,1900.0,300.0,150.0,Low,1.0

In [30]:
df.to_excel("D:\\Project\\clean_agriculture_prices.xlsx",index = False)

In [31]:
state_price_summary.to_excel("D:\\Project\\state_price_summary.xlsx",index = False)